<!DOCTYPE html>
<html>
<head>
    <title>权限管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/AdminLTE.css">
    <!--增加jTreecss样式-->
    <link rel="stylesheet" href="~/lib/jstree/dist/themes/default/style.min.css">
    <!--皮肤-->
    <link rel="stylesheet" href="~/css/skins/skin-blue.css">
</head>
<body>
    <div id="treeDiv" class="portlet-body">
    </div>
    <div>
        <ul class="sidebar-menu">
            <li class="header">权限管理</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="#"><i class="fa fa-link"></i> <span>组织机构</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>角色管理</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>用户管理</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>功能管理</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>权限管理</span></a></li>
            @*<li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Multilevel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>*@
        </ul>
    </div>
    @RenderBody()
    @*@RenderSection("Scripts", required: false)*@
</body>
</html>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/app.js"></script>
<script src="~/lib/jstree/dist/jstree.js"></script>
